<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
 id="WebApp_ID" version="4.0">
  <display-name>QuizWebsite</display-name>
  <welcome-file-list>
       <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
   <servlet-name>quiz</servlet-name>
   <servlet-class>com.pk.servlet.Quiz</servlet-class>
   </servlet>

<servlet-mapping>
<servlet-name>quiz</servlet-name>
<url-pattern>/quizurl</url-pattern>
</servlet-mapping>
    
   <servlet>
   <servlet-name>maths</servlet-name>
   <servlet-class>com.pk.servlet.Maths</servlet-class>
   </servlet>
    
<servlet-mapping>
<servlet-name>maths</servlet-name>
<url-pattern>/mathsurl</url-pattern>
</servlet-mapping>

   <servlet>
   <servlet-name>science</servlet-name>
   <servlet-class>com.pk.servlet.Science</servlet-class>
   </servlet>
    
<servlet-mapping>
<servlet-name>science</servlet-name>
<url-pattern>/scienceurl</url-pattern>
</servlet-mapping>

   <servlet>
   <servlet-name>gk</servlet-name>
   <servlet-class>com.pk.servlet.Gk</servlet-class>
   </servlet>
    
<servlet-mapping>
<servlet-name>gk</servlet-name>
<url-pattern>/gkurl</url-pattern>
</servlet-mapping>
  
</web-app>